@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
    font-family: "Tajawal", sans-serif;
}

.hero-image-box .contact-us-circle {
    left: initial;
    transform: translate(60%, 50%);
    -webkit-transform: translate(60%, 50%);
    -moz-transform: translate(60%, 50%);
    -ms-transform: translate(60%, 50%);
    -o-transform: translate(60%, 50%);
}
.about-us-image {
    margin-left: 35px;
    margin-right: 0;
}
.section-title h3 {
    letter-spacing: initial;
}
.about-body-item-header .icon-box {
    margin-left: 20px;
    margin-right: 0;
}
.about-body-item::before {
    left: -50px;
    right: initial;
}
.video-play-button p {
    margin: 0 25px 0 0;
}
.how-work-no::before {
    left: -30px;
    right: initial;
}
.hero-counter-box {
    right: initial;
    left: 40px;
}
.how-work-img-list ul li {
    background-position: right 15px center;
    padding: 10px 44px 10px 20px;
}
.section-footer-text ul li {
    margin-right: 0;
    margin-left: 10px;
}
.testimonial-btn {
    right: initial;
    left: 0;
}
.testimonial-slider .testimonial-button-next,
.testimonial-slider .testimonial-button-prev {
    rotate: 180deg;
}
.review-counter {
    margin-right: 0;
    margin-left: 20px;
}
.footer-social-links ul li {
    margin-right: 0;
    margin-left: 20px;
}
.footer-links ul {
    padding-right: 20px;
}
.cta-box-list ul li {
    padding: 10px 48px 10px 20px;
}
.cta-box-list ul li:before {
    right: 20px;
    left: initial;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding-left: var(--bs-breadcrumb-item-padding-x);
    padding-right: var(--bs-breadcrumb-item-padding-x);
}
.contact-info-body .icon-box {
    margin-left: 15px;
    margin-right: initial;
}
.mission-vision-list ul {
    padding-right: 20px;
    padding-left: initial;
}
.faq-accordion .accordion-item .accordion-button::after,
.faq-accordion .accordion-item .accordion-button.collapsed::after {
    left: 24px;
    right: initial;
}
.faq-accordion .accordion-header .accordion-button {
    padding: 20px 24px 20px 74px;
}
.service-box-content ul {
    padding-right: 20px;
    padding-left: initial;
}
@media only screen and (max-width: 1024px) {
    .hero-image-box .contact-us-circle {
        left: 50%;
        top: -10px;
        bottom: auto;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}
.google-map {
    margin-right: 0;
    margin-left: 20px;
}
.how-work-steps {
    margin-left: 0;
    margin-right: 15px;
}
@media only screen and (max-width: 991px) {
    .about-us-image {
        margin-left: 0;
    }
    .review-counter {
        margin-left: 15px;
    }
    .footer-social-links ul li {
        margin-left: 15px;
    }
    .contact-info-body .icon-box {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .about-body-item-header .icon-box {
        margin-left: 15px;
    }
    .service-box-content ul {
        padding-right: 15px;
    }
    .faq-accordion .accordion-header .accordion-button {
        padding: 10px 12px 10px 52px;
        text-align: right;
    }
    .cta-box-list ul li {
        padding: 10px 40px 10px 20px;
    }
    .cta-box-list ul li:before {
        right: 15px;
    }
    .google-map {
        margin-left: 0;
    }
    .contact-map-form {
        padding: 40px 0 0 0;
    }
    .how-work-steps {
        margin-right: 0;
    }
}
